*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fafafa;
	height: 3000px;
}
li{
	list-style: none;
}
.header{
	height: 100px;
	background-color: #fff;
}
.inner{
	height: 100px;
	width: 1200px;
	/*background-color: #eee;*/
	margin: 0 auto;
	line-height: 100px;
}
.logo{
	float: left;
}
.nav{
	float: right;
}
.nav li {
	float: left;
	margin: 0 20px;
	font-weight: 700;

}
.nav li a {
	color: #333;
	text-decoration: none;
}
.nav li a:hover{
	color: #2288f6;
}
.banner{
	height: 620px;
	background: url(../images/banner.jpg) no-repeat top center;
}
.service{

	width: 1055px;
	/*background-color: pink;*/
	margin: 75px auto 0;/*上为75，居中，下面为0*/
	}
.service-hd{
	border-top: 1px solid #ccc;
	margin: 0 25px;/*上下为0，左右为25*/

}
.service-hd h3{
	width: 166px;
	margin: 0 auto;
	margin-top: -15px;
}
.service-hd p{
	font-size: 12px;
	color: #666;
	line-height: 26px;
	text-align: center;
	width: 830px;
	margin: 15px auto 0;
}
